<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Brand Image</a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
          <button type="button" class="btn btn-light">Coins</button>
          <button type="button" class="btn btn-light">Claim</button>
          <button type="button" class="btn btn-light">Language</button>

          <div class="btn-group" role="group">
            <button type="button" class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              <span class="navbar-toggler-icon"></span>
            </button>
            <ul class="dropdown-menu">
              <div>
                <p>Username: </p>
                <p>Email: </p>
                <p>Coins: </p>
                <div class="d-grid gap-2">
                  <button class="btn btn-primary" type="button">Cash In</button>
                </div> <br />
              </div>
              <li><a class="dropdown-item" href="#">Contact Us</a></li>
              <li><a class="dropdown-item" href="#">My Profile</a></li>
              <li><a class="dropdown-item" href="#">Sign Out</a></li>
            </ul>
          </div>
        </div>
      </ul>
    </div>
  </div>
</nav>